@model ContacBookApp.Models.ContactMeta
@{
    ViewBag.Title = "AddContacts";
}

<div class="row">
    <div class="col s12">
        <div id="html-validations" class="card card-tabs">
            <div class="card-content">
                <div class="card-title">
                    <div class="row">
                        <div class="col s12 m6 l10">
                            <h4 class="card-title">Add Contacts</h4>
                        </div>
                        <div class="col s12 m6 l2">
                        </div>
                    </div>
                </div>
                <div id="html-view-validations">
                    <form class="formValidate0" id="formValidate0" method="get">
                        <div class="row">
                            <div class="input-field col s4">
                                <label for="FullName">Full name*</label>
                                @Html.TextBoxFor(x => x.FullName)
                            </div>
                            <div class="input-field col s4">
                                <label for="NickName">Nick Name *</label>
                                @Html.TextBoxFor(x => x.NickName)
                            </div>
                            <div class="input-field col s4">
                                <label for="JobTitle">Job Title *</label>
                                @Html.TextBoxFor(x => x.JobTitle)

                            </div>
                            <div class="input-field col s4">
                                <label for="CompanyName">Company Name *</label>
                                @Html.TextBoxFor(x => x.CompanyName)

                            </div>
                            <div class="input-field col s4">
                                <label for="Website">URL *</label>
                                @Html.TextBoxFor(x => x.Website)

                            </div>

                            <div class="input-field col s12">
                                <table class="table" id="tblPhones">
                                    <thead>
                                        <tr style="background-color: #2196f3;color:white">
                                            <th>Category</th>
                                            <th>Phone</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.DropDownList("CategoryId", new SelectList(ViewBag.Categories, "ID", "CategoryName"))
                                            </td>
                                            <td><input type="text" placeholder="Phone" /></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="input-field col s12">
                                <table class="table" id="tblEmails">
                                    <thead>
                                        <tr style="background-color: #2196f3;color:white">
                                            <th>Category</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.DropDownList("CategoryId", new SelectList(ViewBag.Categories, "ID", "CategoryName"))
                                            </td>
                                            <td><input type="text" placeholder="Email" /></td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                            <div class="col s12">
                                <p>Status</p>
                                <p>
                                    <label>
                                        <input required value="Enable" name="Status" type="radio" checked />
                                        <span>Active</span>
                                    </label>
                                </p>

                                <label>
                                    <input value="Disable" required name="Status" type="radio" />
                                    <span>Deactive</span>
                                </label>

                            </div>

                            <div class="input-field col s12">
                                <button class="btn waves-effect waves-light right" type="submit" name="action">
                                    Save
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $.ajax({
        url: '../home/save'
    })
</script>